.button {
    border-radius: 6px;
    background-color: #828282;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 114.286% */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
