.border {
    border: 1px solid var(--stroke, #e2e8f0);
    &:focus {
        outline: none !important;
        border: 1.2px solid var(--stroke, #c6cbd2);
    }
    white-space: pre-line;
}
.wordCount {
    font-size: 12px;
    font-weight: 700;
    color: #8e8e8e;
}
.button {
    border-radius: 45px;
    background: linear-gradient(
        15deg,
        #2e00ea 26.3%,
        #2e00ea 26.31%,
        #2263fe 86.4%
    );
    box-shadow: 0px 21px 27px -19px rgba(0, 75, 255, 0.82);
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 114.286% */
    display: flex;
    height: 48px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.spellingHighlightedWord {
    background-color: #ea153721;
    text-decoration-line: underline;
}
.grammerHighlightedWord {
    background-color: rgba(255, 201, 64, 0.218);
    text-decoration-line: underline;
}
