.sidebarContainer {
    box-shadow: 14px 14px 40px 0px rgba(30, 38, 47, 0.13);
    line-height: 15px;
    .sideItem {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #2263fe;
        height: 90px;
        width: 130px;
        border-radius: 17.662px;
        padding-right: 18px;
        padding-left: 10px;

        color: white;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;

        cursor: pointer;
        transition: 100ms;

        &.active {
            background-color: #183a8a;
            position: relative;
            right: 10px;
        }
    }
}
