.title {
    color: var(--Black, #111);
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}
.desc {
    color: var(--grey-grey-3, #838282);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
